body {
    // font-family: "Emilys Candy", serif;
    font-family: "Bubblegum Sans", sans-serif;
    // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;

    button {
        font-family: "Bubblegum Sans", sans-serif;
    }
}
